@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}

html {
  font-size: 62.5%;
}


@import "base/variables";
@import "base/mixins";
@import "base/general";
@import "base/media";
@import "blocks/header";
@import "blocks/main";
@import "blocks/teste";
@import "blocks/recipes";
@import "blocks/blog";
@import "blocks/footer";