@mixin button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8.2rem;
    font-size: 3.2rem;
    color: #FFF;
    gap: .5rem;
}
@mixin button_call {
    @include button;
    width: 32.7rem;
    background-color: $header_footer_main_color;
    border-radius: 2rem;
    padding: 0 2rem;
}
@mixin button_readMore {
    @include button;
    width: 28.9rem;
    background-color: $teste_recipes_blog_color;
    border-radius: 3rem;
}
@mixin button_send {
    @include button;
    width: 13.8rem;
    height: 5.9rem;
    background: #FFFFFF;
    border-radius: 1rem;
    color: $header_footer_main_color;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 4.7rem;
}

